<template name="properties">
    <div class="panel-heading">
        <h2 class="panel-title">Properties</h2>
    </div>
    <div class="panel-body">
        <form class="form-inline form-properties">
            {{#each properties}}
                <div class="form-group">
                    <label>{{field}}</label>
                    <input id="property-{{field}}" type="text" value="{{value}}" class="form-control map-property">
                </div>
            {{/each}}
        </form>
        <div class="btn-group">
            <button>+</button>
            <button>-</button>
        </div>
    </div>
</template>