<template name="mapIndex">

    <h1>Map Editor</h1>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Create new Map</h3>
        </div>
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label>Name</label>
                    <input id="mapName" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Fields per Row (Width)</label>
                    <input id="mapWidth" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Numer of Rows (Height)</label>
                    <input id="mapHeight" type="text" class="form-control">
                </div>
            </form>
        </div>
        <div class="panel-footer">
            <button id="create-map" class="btn btn-primary">Create</button>
        </div>
    </div>

    {{#if hasMaps}}

        <div class="list-group">
            <div class="list-group-item active">
                <p>Do you want to continue editing one of your previously created maps?</p>
            </div>
            {{#each ownMaps}}
            <div class="list-group-item">
                <p>
                    <b>{{name}}</b>
                </p>
                <a href="{{pathFor 'map.edit'}}" class="btn btn-default">Edit</a>
            </div>
            {{/each}}
        </div>
    {{/if}}

</template>