<template name="properties">
    <div class="panel-heading">
        <h2 class="panel-title">Properties</h2>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Field</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
            {{#each mapProperties}}
                <tr>
                    <td>{{field}}</td>
                    <td>{{value}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
        <div class="btn-group">
            <button>+</button>
            <button>-</button>
        </div>
    </div>
</template>