<template name="tilesetBox">
    <div class="panel-heading">
        <h2 class="panel-title"><i class="glyphicon glyphicon-pencil"></i> Tilesets</h2>
    </div>
    <div class="panel-body">
        {{#if Template.subscriptionsReady}}
            <!-- Split button -->
            <div class="btn-group">
                <button id="active-tileset" type="button" class="btn btn-info" value="{{activeTileset._id}}">{{activeTileset.name}}</button>
                <button title="Switch Tileset" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Switch Tileset</span>
                </button>
                <ul class="dropdown-menu">
                    {{#each tilesets}}
                        <li><a href="#" class="tileset-switch" data-tsid="{{_id}}" data-tsname="{{name}}">{{name}}</a></li>
                    {{/each}}
                </ul>
            </div>

            <div id="tileset-wrapper">
                <div id="active-tileset-container" style="width: {{activeTileset.imagewidth}}px; height: {{activeTileset.imageheight}}px; background: url('{{activeTileset.image}}') no-repeat;">
                    <div class="selection"></div>
                </div>
            </div>
        {{else}}
            {{>spinner}}
        {{/if}}
    </div>

</template>
