<template name="editor">
    <div class="container">
        <div class="row col-md-offset-3" style="margin-bottom: 5px;">
            <div class="col-md-12">
                <div class="btn-group">
                    <button class="btn btn-default">Import JSON File</button>
                </div>

                <div id="toolkit" class="btn-group">
                    <button data-tool="draw" title="Brush Tool (B)" class="btn btn-default">
                        <span class="glyphicon glyphicon-pencil active"></span>
                    </button>
                    <button data-tool="fill" title="Bucket Fill Tool (F)" class="btn btn-default">
                        <span class="glyphicon glyphicon-tint"></span>
                    </button>
                    <button data-tool="erase" title="Eraser (E)" class="btn btn-default">
                        <span class="glyphicon glyphicon-erase"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <aside id="aside-left" class="col-md-3">

                <section id="section-tilesets" class="panel panel-primary">
                    {{> tilesetBox}}
                </section>

            </aside>

            <section id="section-canvas" class="col-md-6">
                {{>canvas}}
            </section>

            <aside id="aside-right" class="col-md-3">
                <section id="section-minimap" class="panel panel-primary">
                    {{>minimap}}
                </section>
                <section id="section-properties" class="panel panel-primary">
                    {{>properties}}
                </section>

                <section id="section-layers" class="panel panel-primary">
                    {{>layers}}
                </section>
            </aside>
        </div>
    </div>
</template>