<template name="ManageTilesets">
    <h2>Manage Tilesets</h2>

    {{> upload_bootstrap contentType='images' fileTypes='.png' multiple=false formData=tilesetFormData callbacks=tilesetUploadComplete }}
    <br>
    <br>

    <div class="row">
        <div class="col-md-4"><strong>Name</strong></div>
        <div class="col-md-1"><strong>Count Tiles</strong></div>
    </div>
    {{#each tilesets}}
        <div class="row">
            <div class="col-md-4">{{name}}</div>
            <div class="col-md-1">{{tilecount}}</div>
        </div>
    {{/each}}
</template>